<div class="container">
  <div class="row">
    <h1>Welcome, {{driverName}}</h1> <a href="#" ng-click="logout()">Logout</a>
    
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="showAddForm = !showAddForm">Create ride</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-show="showAddForm">
      <div class="form-group">
        <label for="origin">From</label>
        <input type="text" class="form-control" ng-model="addForm.origin" id="origin">
      </div>
      <div class="form-group">
        <label for="spaces">Spaces Available:</label>
        <input type="number" class="form-control" ng-model="addForm.spaces" id="spaces">
      </div>
      <div class="form-group">
        <label for="destination">Destination</label>
        <input type="text" class="form-control" ng-model="addForm.destination" id="destination">
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="text" class="form-control" ng-model="addForm.time" id="time">
      </div>
      <button type="submit" class="btn btn-default" ng-click="addTrip()" ng-disabled="addDisabled()">Add</button>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>My Ride History</h2>
      <div ng-show="rideHistory.length == 0">No rides!</div>
      <table class="table table-hover" ng-hide="rideHistory.length == 0">
        <thead>
          <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Time</th>
            <th>Earnings</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="car in rideHistory">
            <td>{{car.origin}}</td>
            <td>{{car.dest}}</td>
            <td>{{car.ride_time}}</td>
            <td>${{car.earned}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>